@using B03.EE.BlanckeK.Lib.Models
@{
    int questionCounter = 0;
    string questionString = "input" + questionCounter;
}

@model Quiz

<article class="card">
    <div class="card-header text-center">You are playing '@Model.QuizName'</div>
    <br/>
    <div class="card-body" style="margin-bottom: 0%">
        <div class="card">
            @foreach (var question in Model.Questions)
            {
                <div id="login_for_review" class="modal hide"  role="dialog">

                </div>
                <div class="card">
                    <fieldset id="@questionCounter" name="question">
                        <legend class="card-header" style="background-color: lightblue; color: black; margin-bottom: 1%">@question.QuestionText<span id="@questionCounter span" class="float-right"></span></legend>
                        @foreach (var answer in question.AnswerList)
                        {
                            <label class="input-group" style="margin-left: 2%">
                                <input style="margin-right: 1%" type="checkbox" name="@questionString" value="@answer.IsCorrectAnswer">@answer.AnswerText
                            </label>
                        }
                    </fieldset>
                </div>
                questionCounter++;
                questionString = "input" + questionCounter;
            }
            <button class="btn-success" type="button" onclick="validate()" id="answer" value="submit">Submit</button>
        </div>
    </div>
    <div class="card-footer"><a asp-controller="Quiz" asp-action="Index" class="btn btn-primary">Back to list</a></div>
</article>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="scoreBoard"></p>
    </div>
 </div>



<script src="~/js/ValidateQuiz.js"></script>
